<div class="container">
    <h2 class="mb-4">Calculadora Básica</h2>
    <div class="row justify-content-center mb-3">
        <div class="col-md-3">
            <input type="number" class="form-control" [(ngModel)]="numero1" placeholder="Número 1">
            <input type="number" class="form-control" [(ngModel)]="numero2" placeholder="Número 2">
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <p class="result bg-light p-2 rounded">
                Resultado: <strong>{{resultado}}</strong>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="sumar()">Sumar</button>&nbsp;
            <button class="btn btn-primary" (click)="restar()">Restar</button>&nbsp;
            <button class="btn btn-primary" (click)="multiplicar()">Multiplicar</button>&nbsp;
            <button class="btn btn-primary" (click)="dividir()">Dividir</button>
        </div>
    </div>
</div>
<!--<div>
    <input type="number" [(ngModel)]="numero1">
    <input type="number" [(ngModel)]="numero2">
    
    <p>Resultado: {{ resultado }}</p>

    <button class="btn btn-primary" (click)="sumar()">Sumar</button>
    <button class="btn btn-primary" (click)="restar()">Restar</button>
    <button class="btn btn-primary" (click)="multiplicar()">Multiplicar</button>
    <button class="btn btn-primary" (click)="dividir()">Dividir</button>
</div>-->

